In [1]:
import numpy as np
import pandas as pd

creat a list of random pairs from 1-10

In [2]:
mylist = []

for i in range(1, 11):
    mylist.append((np.random.randint(1, 11), np.random.randint(1, 11)))
    
print(mylist)

[(3, 8), (6, 2), (6, 6), (10, 3), (7, 8), (3, 8), (7, 2), (1, 4), (5, 3), (3, 4)]

from above creat a list of x^y

In [3]:
def power(input):
    power = []
    for i in range(0,10):
        power.append(mylist[i][0] ** mylist[i][1])
    return power;

mylist2 = power(mylist)
mylist2

[6561, 36, 46656, 1000, 5764801, 6561, 49, 1, 125, 81]

create dataframe from mylist

In [4]:
mydf = pd.DataFrame(data=mylist)
mydf.columns = ['x', 'y']
mydf

    x  y
0   3  8
1   6  2
2   6  6
3  10  3
4   7  8
5   3  8
6   7  2
7   1  4
8   5  3
9   3  4

add third col x^y

In [5]:
mydf["x^y"] = mydf['x'] ** mydf['y']
mydf

    x  y      x^y
0   3  8     6561
1   6  2       36
2   6  6    46656
3  10  3     1000
4   7  8  5764801
5   3  8     6561
6   7  2       49
7   1  4        1
8   5  3      125
9   3  4       81